Requirements to install:

conda install
conda install pytorch torchvision cudatoolkit=10.0 -c pytorch
pip install scikit-learn
conda install matplotlib
conda install tqdm imageio ipython opencv pandas


